body {
    background-color: rgb(223, 239, 250) !important;
    margin: 0;
    padding-bottom: 470px;
}

.all {
    background-color: rgb(223, 239, 250);
    background-size: 100%;
}

/* Style of Header section */
#myJumbotron {
    background-color: rgb(223, 239, 250);
    margin-bottom: 1%;
    border-bottom: grey solid;
    margin: 1%;
    padding-bottom: 1%;
}

.header .img-responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.myH2 {
    font-family: Helvetica, sans-serif;
    color: grey;
    letter-spacing: 0.5vw;
}

.header {
    margin-bottom: 2%;
}

.myBtnStyle {
    border-radius: 20px !important;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    padding-left: 0 !important;
}

.myInputStyle {
    border-radius: 20px !important;
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Style of List_Of_Items section */
#list {
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: white;
    background-size: cover;
}

/* Style of Footer section */
.center-block{
    float: none;
    margin: 0 auto;
}

.footer {
    /*border-top: solid 0.5px grey;*/
    border-top: solid grey;
    color: #4988B2;
    padding: 1%;
    text-align: center;
    background-color: rgb(223, 239, 250);
}